{% extends 'base.html' %}

{% block title %}All Animals{% endblock %}

{% block content %}
    <h1>Все животные</h1>
    <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap;">
        {% for animal in animals  %}
        <li style="flex-basis: calc(25% - 50px); margin: 10px; font-size: 25px;">
            <a href="/animal/{{ animal.id }}/"><span style="font-size: 30px; padding: 10px;">{{ animal.name }}</span></a>
            <p>{{ animal.species }}
            </p>
            возраст - {{ animal.age }}
            {% if animal.photo %}
            <img src="{{ animal.photo.url }}" alt="{{ animal.name }}" style="max-width: 200px; max-height: 100px; margin-left: 25px;">
            {% else %}
            <p>Фото отсутствует</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}