{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Добро пожаловать на наш сайт по поиску потерянных домашних животных!!</p>
<p>Мы понимаем, что потеря любимого питомца может быть очень тяжелым испытанием. Наша цель - помочь вам найти вашего потерянного друга и воссоединить вас с ним.</p>
<p>На нашем сайте вы найдете анкеты потерянных домашних животных, каждая из которых содержит информацию о животном, его фотографии, а также контактные данные владельца. Мы стремимся максимально распространить информацию о потерянных животных, чтобы повысить шансы  их найти.</p>
<p>Если вы видели или нашли потерянного животного, пожалуйста, свяжитесь с нами. Ваша помощь может стать решающей для воссоединения семьи и их питомца.</p>
<p>Присоединяйтесь к нам в поиске потерянных питомцев и помогите вернуть домой тех, кто потерялся!</p>
<!-- Кнопка "Добавить объявление" -->
<a class="button" href="{% url 'add_animal' %}">Добавить объявление</a>
{% endblock %}